body
{
	margin: 0px;
	padding: 0px;

	font-family: 'Open Sans', sans-serif;

}

#menu
{
	background: #154971;

	width: 100%;

	height: 80px;

	color: #FFFFFF;

	padding-left: 10px;
	padding-right: 10px;
}

#menu #menuLogo
{
	background: url(images/menuLogo.png) no-repeat;
	width: 65px;
	height: 65px;

	margin-right: 50px;
	float: left;

	margin-top: 10px;
	margin-left: 25px;
}


#menu .menuItem
{
	font-size: 20px;
	padding-left: 25px;
	padding-right: 25px;
	float: left;

	padding-top: 45px;

	height: 77px;
}

#menu #menuItemSelected
{
	height: 80px;
	background: #0c77ae;
	margin: 0px;
	padding: 0px;
}


.navbar-default {
    background-color: #144971;
    border-color: #144971;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover
{
	color: #FFF;
}


/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #144971;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #0c77ae;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FFF;
    }
}


#loginBox
{
	background: url(images/loginBackgroundGradient.png) repeat-x;
	background-color: #144971;

	width: 100%;
	height: 100%;

	min-height: 100%;
}

#loginBox #loginLogo
{
	background: url(images/pmclogo.png) no-repeat;
	width: 200px;
	height: 197px;
	position: relative;
}

#loginBox #loginContent
{
	height: 300px;
	position: absolute;
}

#loginCredentials input
{
        width: 388px;
        height: 40px;
        font-size: 16px;
        font-weight: normal;
        border: solid 1px #e7e7e7;
        padding-left: 8px;
        color: #091e2e;
        margin-top:15px;

}

#loginBox #loginresultholder
{
	color: red;
	padding-top: 10px;
}


.span12
{
	margin-left: 10%;
	margin-right: 10%;
}






/********** BLOCK STYLING *****************/
.headingBlock
{
	background-color: #ededed;
	color: #505050;
	padding: 5px;
	font-size: 22px;

}
.blockContent
{
	padding: 5px;
	border: solid 2px #ededed;
}

.activityContent
{
	padding: 5px;
	border-top: solid 1px #ededed;
}

.activityContent:first-of-type
{
	border-top: none;
}

.recentActivityProjTitle
{
	font-size: 12px;
	float: right;
}